PORT=3000
HOST=127.0.0.1
DB_PATH=./database.sqlite
GTFS_PATH=./GTFS_COTRAL
GTFS_URL=https://travel.mob.cotralspa.it:4443/GTFS/GTFS_COTRAL.zip
COTRAL_BASE_URL=http://travel.mob.cotralspa.it:7777/beApp
COTRAL_USER_ID=1BB73DCDAFA007572FC51E7407AB497C
COTRAL_DELTA=261
